.page {
  width: 1440px;
  height: 4811px;
  background-color: #ffffff;
  border-radius: 45px;
}

.page-bg {
  width: 1440px;
  height: 4811px;
  background-color: #030306;
}

.hero-blob {
  width: 500px;
  height: 500px;
  opacity: 0.50;
  background-color: #2ed9c3;
}

.hero-card-1 {
  width: 312px;
  height: 136px;
  background-color: #3a7670;
}

.hero-card-2 {
  width: 312px;
  height: 136px;
  background-color: #2ed9c3;
}

.hero-card-3 {
  width: 312px;
  height: 136px;
  background-color: #ae4f4f;
}

.hero-icon {
  width: 312px;
  height: 136px;
  color: #fba0ac;
}

.hero-line-1 {
  width: 256.9065856933594px;
  height: 0px;
}

.hero-line-2 {
  width: 220.94569396972656px;
  height: 0px;
}

.hero-line-3 {
  width: 128.70120239257812px;
  height: 0px;
}

.hero-line-4 {
  width: 275.6011657714844px;
  height: 0px;
}

.hero-title {
  font-family: "Jacquard 24";
  font-weight: 400;
  font-size: 64px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, #1d95c8, #999999);
}

.hero-card-4 {
  width: 470px;
  height: 302px;
  background-color: #4655f5;
}

.hero-card-5 {
  width: 419px;
  height: 257px;
  background-color: #4655f5;
}

.hero-card-6 {
  width: 480px;
  height: 289px;
  background-color: #264ed3;
}

.event-body-text {
  font-family: Jaro;
  font-weight: 400;
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.event-card-1 {
  width: 312px;
  height: 136px;
  background-color: #4655f5;
}

.event-card-2 {
  width: 312px;
  height: 136px;
  background-color: #4655f5;
}

.event-card-3 {
  width: 312px;
  height: 136px;
  background-color: #a0a8fb;
}

.hero-blob-large-1 {
  width: 647px;
  height: 540px;
  opacity: 0.50;
  color: #2ed9c3;
}

.hero-blob-large-2 {
  width: 907px;
  height: 734px;
  opacity: 0.50;
  color: #2ed9c3;
}

.gradient-card-1 {
  width: 470px;
  height: 98px;
  background-image: linear-gradient(to bottom, #264ed3, #737373);
}

.gradient-card-2 {
  width: 470px;
  height: 98px;
  background-image: linear-gradient(to bottom, #264ed3, #737373);
}

.gradient-card-3 {
  width: 520px;
  height: 140px;
  background-image: linear-gradient(to bottom, #264ed3, #737373);
}

.about-banner-dark {
  width: 933px;
  height: 120px;
  background-color: #4e2f2f;
}

.about-banner-gradient {
  width: 933px;
  height: 120px;
  background-image: linear-gradient(to bottom, #e58d8d, #b62828);
}

.about-heading {
  font-weight: 400;
  line-height: normal;
  color: #000000;
}

.about-box {
  width: 819px;
  height: 168px;
  background-color: #678c61;
}

.about-body-text {
  font-family: Jaro;
  font-weight: 400;
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.event-heading-1 {
  font-family: Jaro;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.event-heading-2 {
  font-family: Jaro;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.event-body-text-2 {
  font-family: Jaro;
  font-weight: 400;
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.event-body-text-3 {
  font-family: Jaro;
  font-weight: 400;
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.schedule-box {
  width: 424px;
  height: 226px;
  background-color: #e8d9a9;
}

.schedule-heading {
  font-family: Jaro;
  font-weight: 400;
  font-size: 96px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.schedule-day-1 {
  font-family: Jaro;
  font-weight: 400;
  font-size: 48px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.schedule-day-2 {
  font-family: Jaro;
  font-weight: 400;
  font-size: 48px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.schedule-day-3 {
  font-family: Jaro;
  font-weight: 400;
  font-size: 48px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}
